:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

/* Generell styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
}

.container {
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigasjonsbar */
.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Skjema-styling */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.btn-save {
  background-color: #27ae60;
  color: white;
}
.btn-logout {
  background-color: #e74c3c;
  color: white;
}

/* Tabell-styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ecf0f1;
  padding: 12px;
  text-align: left;
}
td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.status-gronn {
  color: #27ae60;
  background: #e8f5e9;
  padding: 4px 8px;
  border-radius: 4px;
}
.status-rod {
  color: #c0392b;
  background: #fdeaea;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn-status {
  background-color: #3498db;
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.btn-status:hover {
  background-color: #2980b9;
}

.admin-panel {
  display: none; /* Skjult helt til JS bekrefter admin-status */
}

.input-group-field {
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-self: center;
}

.input-group-field div {
  display: flex !important;
}

.text-field {
  width: 60%;
  margin-bottom: 10px;
}

.button-field {
  gap: 10px;
  margin-top: 15px;
}

.display-flex {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
}
